@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --white0: #ffffff;
  --white5: #f7f7f7;
  --white10: #ededed;
  --white15: #e3e3e3;
  --black70: #534e57;
  --black75: #333036;
  --black80: #272529;
  --black85: #222024;
  --black90: #1a191c;
  --grey10: #e8e1f0;
  --grey15: #d9d9d9;
  --grey25: #bdbdbd;
  --grey30: #b2acb8;
  --grey50: #807f7f;
  --grey60: #6b6a6a;
  --grey65: #595959;
  --grey80: #333333;
  --grey90: #1a1a1a;
  --red25: #ea8a98;
  --red35: #e66a7d;
  --red45: #e63e61;
  --red60: #c90054;
  --teal45: #5ac2a9;
  --teal60: #00d4a1;
  --teal65: #00ab81;
  --teal75: #007864;
  --purple10: #d7c2ff;
  --purple15: #caadff;
  --purple20: #b795ff;
  --purple30: #9969ff;
  --purple40: #7538ff;
  --purple45: #601aff;
  --blue50: #00cbf5;
  --blue60: #00a3c7;
  --blue75: #00748a;
  --orange25: #ffa482;
  --orange40: #e6714c;
  --orange55: #ba4020;
  --yellow55: #f0bb00;
  --yellow65: #bd9300;
  --yellow75: #8a6400;
  --green55: #00ed4f;
  --green65: #00ad39;
  --green75: #007a22;
  --pink20: #f699ff;
  --pink35: #e657ff;
  --pink60: #ad00c9;

  --white: var(--white0);
  --black: var(--grey90);
  --redFill: var(--red45);
  --redFillAlt: var(--red35);
  --tealAlt: var(--teal45);
  --tealFill: var(--teal65);
  --tealFillAlt: var(--teal45);
  --purpleFill: var(--purple30);
  --purpleFillAlt: var(--purple20);
  --blueFill: var(--blue60);
  --orangeFill: var(--orange40);
  --yellowFill: var(--yellow65);
  --greenFill: var(--green65);
  --pinkFill: var(--pink35);
  --greyFill: var(--grey50);
  --bgLevel5: var(--black70);
}

.dark-theme,
.light-theme .alt-theme {
  --neutral: var(--grey10);
  --neutralAlt: var(--white);
  --neutralFill: var(--grey15);
  --neutralFillAlt: var(--white);
  --neutralOnFill: var(--grey90);

  --red: var(--red35);
  --redAlt: var(--red25);
  --teal: var(--teal60);
  --purple: var(--purple15);
  --purpleAlt: var(--purple10);
  --blue: var(--blue50);
  --orange: var(--orange25);
  --yellow: var(--yellow55);
  --green: var(--green55);
  --pink: var(--pink20);
  --grey: var(--grey25);
  --greyHighlighted: var(--grey10);
  --greyHighlightedAlt: var(--white);

  --bgLevel1: var(--black90);
  --bgLevel2: var(--black85);
  --bgLevel3: var(--black80);
  --bgLevel4: var(--black75);

  --textNeutral: var(--white);
  --textMinimal: var(--grey25);

  --detailNeutral: var(--white);
  --detailMinimal: var(--grey25);
}

.light-theme,
.dark-theme .alt-theme {
  --neutral: var(--grey90);
  --neutralAlt: var(--grey60);
  --neutralFill: var(--grey80);
  --neutralFillAlt: var(--grey65);
  --neutralOnFill: var(--white);

  --red: var(--red60);
  --redAlt: var(--red35);
  --teal: var(--teal75);
  --purple: var(--purple40);
  --purpleAlt: var(--purple45);
  --blue: var(--blue75);
  --orange: var(--orange55);
  --yellow: var(--yellow65);
  --green: var(--green75);
  --pink: var(--pink60);
  --grey: var(--grey60);
  --greyHighlighted: var(--grey65);
  --greyHighlightedAlt: var(--grey50);

  --bgLevel1: var(--white5);
  --bgLevel2: var(--white10);
  --bgLevel3: var(--white15);

  --textNeutral: var(--grey90);
  --textMinimal: var(--grey80);
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--textNeutral);
  font-family: "Roboto", sans-serif;
  font-size: 1vmax;
}

.container {
  display: grid;
  grid-template-rows: 0.04fr 1fr auto;
  grid-template-columns: auto 4fr auto;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "left-aside banner right-aside"
    "left-aside main right-aside"
    "left-aside low-content right-aside";
}

/* Contenu du grid container */

.sidebar {
  display: flex;
  justify-content: center;
  background-color: var(--bgLevel2);
  grid-area: left-aside;
  width: 15vw;
  border-right: 1.5px solid var(--greyFill);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgLevel3);
  grid-area: main;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgLevel3);
  grid-area: right-aside;
}

.banner {
  background-color: var(--bgLevel3);
  grid-area: banner;
}

.low-content {
  display: none;
  background-color: var(--bgLevel4);
  grid-area: low-content;
}

/* Objets du rightside */

.switch-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  height: clamp(2rem, 3vmax, 4rem);
  width: clamp(2rem, 3vmax, 4rem);
  margin-right: 1vw;
  border: 1px solid var(--greyFill);
  border-radius: 100%;
  color: var(--yellow);
  background-color: var(--bgLevel2);
  z-index: 11;
}

.switch-theme:hover {
  background-color: var(--greylighted);
}

.new-post {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2vh;
  margin-right: 1vw;

  height: clamp(2rem, 3vmax, 4rem);
  width: clamp(2rem, 3vmax, 4rem);

  background-color: var(--greenFill);
  color: var(--bgLevel2);

  font-size: 200%;
  font-weight: lighter;

  border-radius: 100%;
  border: 1px solid var(--greyFill);
}

.new-post:hover {
  background-color: var(--green55);
}

.login-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1vw;
  margin-bottom: 2vh;
  margin-right: 1vw;

  height: clamp(2rem, 3vmax, 4rem);
  width: clamp(2rem, 3vmax, 4rem);

  background-color: var(--bgLevel2);
  color: var(--textNeutral);

  font-size: 200%;
  font-weight: lighter;

  border-radius: 100%;
  border: 1px solid var(--greyFill);
}

.logout-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2vh;
  margin-right: 1vw;

  height: clamp(2rem, 3vmax, 4rem);
  width: clamp(2rem, 3vmax, 4rem);

  background-color: var(--redFill);

  font-size: 200%;
  font-weight: lighter;

  border-radius: 100%;
  border: 1px solid var(--greyFill);
}

.login-btn:hover {
  background-color: var(--greyFill);
}

.logout-btn:hover {
  background-color: var(--red35);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Assombrir l'Ã©cran */
}

.modal-content {
  background-color: var(--bgLevel2);
  margin: 35vh auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--greyFill);
  width: 80%;
  max-width: 500px;
  position: relative;

}

.close-btn {
  position: absolute;
  color: var(--redFill);
  font-size: 28px;
  font-weight: bold;
  top: 10px;
  right: 15px;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--red35);
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  background-color: var(--purpleFill);
  color: var(--textNeutral);
  border-radius: 10px;
  border: 1px solid var(--greyFill);
}

.modal-input {
  border-radius: 10px;
  border: 1px solid var(--greyFill);
  
}

.modal-area {
  border-radius: 10px;
  border: 1px solid var(--greyFill);
}

.modal-href {
  text-decoration: none;
  color: var(--pinkFill);
}